<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>DailyTrends</title>
        <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!--Navigation bar-->
        <div class="navbar navbar-default navbar-fixed-top bg-dark" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand text-light" href="/">DAILYTRENDS</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/" class="text-light">Inicio</a></li>
                        <li><a href="/mynews" class="text-light">Mis noticias</a></li>
                    </ul>
            </div>
        </div>
        
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-7">
                    
                    <% if(data){ %>
                        <% for (var i = 0; i < data.length; i++){ %>
                            <article>
                                <table class="table table-bordered mt-5">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h1> Noticia <%= [i + 1] %> </h1></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4"><img style="width: 600px;height: 400px" src="images/<%= data[i].imageName %>"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><h2> <%= data[i].title %> </h2></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><%= data[i].newdescription %></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><h5> <%= data[i].source %> </h5></td>
                                            <td>
                                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Borrar</a>
                                            </td>
                                            <td>
                                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Editar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        <%} %>
                    <% } %>
                </div>
                
            </div>
           
        </div> 

    </body>

</html>